.button {
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 5px;
  background-color: $main-color;
  color: $main-color-dark;
  border: none;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $main-color-dark;
    color: $main-color;
  }
}
