// App Colors
$main-color: #e01f2f;
$main-color-light: #fff;
$main-color-dark: #172b3a;
$main-color-medium-light: #ccc;
$main-color-medium-dark: #2b5973;
$main-color-success: #12fd63;
$main-color-fail: #e01f2f;
$main-color-background: #f2f8fb;

// App Colors Lighters
$main-color-success-lighter: #48c774;
$main-color-fail-lighter: #e64c59;

// App fonts
$main-font: 'Libre Franklin';
$main-font-default: helvetica, arial, verdana, tahoma, sans-serif;
