// App Colors
$main-color: #dcd7c9;
$main-color-light: #3f4e4f;
$main-color-dark: #2c3639;
$main-color-medium-light: #a27b5c;
$main-color-background: linear-gradient(
  90deg,
  rgb(44 54 57 / 100%) 0%,
  rgb(63 78 79 / 100%) 100%
);

// App Colors Lighters
$main-color-success-lighter: #48c774;
$main-color-fail-lighter: #e64c59;

// App fonts
$main-font: 'Yantramanav';
$main-font-default: helvetica, arial, verdana, tahoma, sans-serif;
